body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fdebd0;
}

.container {
    text-align: center;
    position: relative;
}

h1 {
    margin-bottom: 20px;
    color: #e74c3c; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
    font-size: 36px; 
}

.gif {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 50%; 
    border: 5px solid #ffffff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.buttons {
    margin-top: 20px;
    position: relative;
    height: 100px;
    width: 300px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    background-color: #3498db; 
    color: #ffffff; 
    border: none;
    border-radius: 20px; 
}

button:hover {
    background-color: #2980b9;
}

#yes-btn {
    background-color: #2ecc71;
}

#no-btn {
    background-color: #e74c3c; 
    color: #ffffff; 
    border: none;
    border-radius: 20px; 
    position: absolute;
}
